<!DOCTYPE html>
<html lang="fr" ng-app="infinite">
<head>
    <meta charset="UTF-8">
    <title>Infinite Developers - Test</title>

    <link rel="stylesheet" href="./css/stylesheets/screen.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body ng-controller="MainCtrl">
    <div id="page">
        <header class="head">
            <div class="head__ribbon">
                <div class="head__ribbon__content">
                    <div class="head__ribbon__logo">
                        <a href="/">
                            <figure>
                                <img src="./images/company_logo.png" alt="Company logo"/>
                            </figure>
                        </a>
                    </div>
                    <div class="head__ribbon__contact">
                        <p>contactez-nous</p>
                        <ul ng-include="socials">
                        </ul>
                    </div>
                </div>
            </div>
            <nav main-nav></nav>
            <div class="head__background">
                <div class="content">
                    <h1><span>Le premier site</span> des photographes indépendants</h1>
                </div>
            </div>
        </header>

        <main class="content">
            <section class="content__push">
                <div class="content__push__wrapper">
                    <div class="content__push__head">
                        <div class="content__push__head__title">
                            <h2>à la une</h2>
                            <!-- TODO: better way for "after" line -->
                        </div>
                    </div>
                    <article class="content__push__main">
                        <div class="content__push__main__img">
                            <img src="./images/expo_photo.jpg" alt="" />
                            <span class="date">22 juillet 2016</span>
                            <div class="title">
                                <span class="title__1">expo</span>
                                <span class="title__2">photo</span>
                                <span class="title__3">lyon</span>
                            </div>
                        </div><!--
                        --><div class="content__push__main__txt">
                            <p class="synopsis">
                                {{ "Kogi waistcoat vape franzen readymade skateboard. Viral lumbersexual narwhal pitchfork
                                disrupt, pabst pok pok tousled pour-over swag cronut. Poke pour-over ugh shoreditch,
                                craft beer twee marfa blog tacos. Messenger bag skateboard freegan, la croix plaid
                                quinoa prism. Kitsch selfies sriracha af, squid ennui distillery sartorial schlitz
                                enamel pin organic. Cronut authentic seitan pok pok lo-fi, pickled blue bottle migas
                                lumbersexual celiac activated charcoal cred marfa. Cardigan bitters ennui portland
                                williamsburg selvage echo park tilde dreamcatcher, jean shorts messenger bag bushwick
                                enamel pin." | limitTo: 350}}...
                            </p>
                            <p class="article">
                                Keytar mixtape hashtag, godard chia activated charcoal snackwave organic fap food truck.
                                Vexillologist XOXO neutra photo booth, pok pok messenger bag pour-over copper mug lyft
                                hammock pitchfork semiotics raw denim shabby chic crucifix. Literally hashtag gochujang,
                                cliche fam YOLO mustache viral leggings PBR&B. Sriracha pop-up stumptown, echo park
                                kinfolk health goth artisan. Gastropub ramps lyft, yuccie vice XOXO sriracha. Drinking
                                vinegar cred venmo bushwick, flannel fanny pack microdosing keytar flexitarian franzen
                                wayfarers mumblecore church-key. Tacos drinking vinegar health goth man braid pork belly
                                artisan, cred kickstarter.
                            </p>
                        </div>
                    </article>
                </div>
            </section>
            <section class="content__interlude"></section>
            <section class="content__news">
                <div class="content__news__wrapper">
                    <div class="content__news__head">
                        <div class="content__news__head__title">
                            <h2>actualités</h2>
                            <!-- TODO: better way for "after" line -->
                        </div>
                    </div>
                    <article class="content__news__main">
                        <div class="content__news__img">
                            <figure>
                                <img src="./images/portraits/old_man_with_beard.jpg" alt="" />
                            </figure>
                        </div>
                        <div class="content__news__details">
                            <div class="features">
                                <span class="features__date">22/07/2016</span>
                                <span class="features__type">actualités</span>
                            </div>
                            <div class="text">
                                <p class="text__title">Lancement du prix photo tremplin de l'année</p>
                                <p class="text__short-desc">
                                    Bespoke roof party aesthetic celiac next level, direct trade trust fund hashtag
                                    beard tattooed tofu fap kombucha pok pok. Man bun whatever kombucha pop-up, jean
                                    shorts salvia put a bird on it 3 wolf moon +1 migas vice waistcoat
                                </p>
                            </div>
                            <div class="button">
                                <a href="" title="lire plus">Lire plus</a>
                            </div>
                        </div>
                    </article><!--
                    --><article class="content__news__main">
                        <div class="content__news__img">
                            <div class="content__news__img">
                                <figure>
                                    <img src="./images/portraits/old_man_with_beard.jpg" alt="" />
                                </figure>
                            </div>
                        </div>
                        <div class="content__news__details">
                            <div class="features">
                                <span class="features__date">22/07/2016</span>
                                <span class="features__type">actualités</span>
                            </div>
                            <div class="text">
                                <p class="text__title">Lee Jeffries s'illustre encore en noir et blanc !</p>
                                <p class="text__short-desc">
                                    Bespoke roof party aesthetic celiac next level, direct trade trust fund hashtag
                                    beard tattooed tofu fap kombucha pok pok. Man bun whatever kombucha pop-up, jean
                                    shorts salvia put a bird on it 3 wolf moon +1 migas vice waistcoat
                                </p>
                            </div>
                            <div class="button">
                                <a href="" title="lire plus">Lire plus</a>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            <section class="content__lee-jeffries">
                <div class="content__lee-jeffries__wrapper">
                    <div class="content__lee-jeffries__head">
                        <div class="content__lee-jeffries__head__title">
                            <h2>Lee Jeffries</h2>
                            <!-- TODO: better way for "after" line -->
                        </div>
                    </div>
                    <article class="content__lee-jeffries__main">

                    </article>
                </div>
            </section>
            <section class="content__interactive-features">
                <div class="content__interactive-features__wrapper">
                    <article class="content__interactive-features__main">
                        <div class="title">
                            <p>Documentation</p>
                        </div>
                        <div class="download">
                            <a href="#">
                                <span class="download__icon">
                                    <img src="./images/dl.png" alt="télécharger"/>
                                </span><!--
                                --><p class="download__text">Téléchargez le dossier de candidature au statut national étudiant entrepreneur</p>
                            </a>
                        </div>
                        <div class="download">
                            <a href="#">
                                <span class="download__icon">
                                    <img src="./images/dl.png" alt="télécharger"/>
                                </span><!--
                                --><p class="download__text">Téléchargez le dossier de candidature au prix pépite 2016</p>
                            </a>
                        </div>
                    </article><!--
                    --><article class="content__interactive-features__main">
                        <div class="title">
                            <p>Newsletter</p>
                        </div>
                        <form method="post" action="#">
                            <input class="full-width" type="email" placeholder="email" />
                            <input type="text" placeholder="nom" /><!--
                            --><input type="text" placeholder="prénom" />
                            <input class="full-width" type="submit" value="s'inscrire" />
                        </form>
                    </article>
                </div>
            </section>
            <section class="content__social-networks">
                <div class="content__social-networks__wrapper">
                    <ul>
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="./images/fb.jpg" alt=""/>
                                    <figcaption>Facebook</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="./images/twitter.png" alt=""/>
                                    <figcaption>Twitter</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="./images/linkedin.jpg" alt=""/>
                                    <figcaption>Linkedin</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="./images/youtube.png" alt=""/>
                                    <figcaption>Youtube</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <figure>
                                    <img src="./images/tumblr.png" alt=""/>
                                    <figcaption>Tumblr</figcaption>
                                </figure>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>

        <footer class="foot">
            <div class="foot__wrapper">
                <div class="content">
                    <div class="content__item">
                        <div>
                            <h3><span>Soutenez</span> la Photo</h3>
                            <a class="donate" href="#">faire un don</a>
                        </div>
                    </div>
                    <div class="content__item">
                        <div>
                            <p class="title">initiative portée par :</p>
                            <img src="" alt="logo entreprise" />
                        </div>
                    </div>
                    <div class="content__item">
                        <div>
                            <p class="title">Rubriques</p>
                            <ul>
                                <li><a href="">Titre rubrique</a></li>
                                <li><a href="">Boîte à outils</a></li>
                                <li><a href="">Portrait blabla</a></li>
                                <li><a href="">à propos</a></li>
                                <li><a href="">mentions légales</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content__item">
                        <div>
                            <p class="title">Youtube</p>
                            <a href=""><img src="" alt="vidéo youtube" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./js/controllers/core.js"></script>
</body>
</html>