<nav ng-transclude>
    <div class="content">
        <ul>
            <li><a href="">étudiant entrepreneur</a></li>
            <li><a href="">boîte à outils</a></li>
            <li><a href="">portraits d'étudiants <span>entrepreneurs et mentors</span></a></li>
            <li><a href="">à propos</a></li>
        </ul>
        <div class="search">
            <input title="search" type="text" />
            <input type="submit" class="magnifying-glass" value="" />
        </div>
    </div>
</nav>