/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
#page {
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}
/* line 16, ../sass/screen.scss */
#page a {
  text-decoration: none;
}

/* line 26, ../sass/screen.scss */
.head__ribbon {
  background: white;
  overflow: hidden;
  padding: 20px 0;
}
/* line 30, ../sass/screen.scss */
.head__ribbon__content {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 34, ../sass/screen.scss */
.head__ribbon__logo {
  float: left;
}
/* line 36, ../sass/screen.scss */
.head__ribbon__logo img {
  width: 60px;
}
/* line 40, ../sass/screen.scss */
.head__ribbon__contact {
  float: right;
  padding: 15px 0;
}
/* line 43, ../sass/screen.scss */
.head__ribbon__contact p {
  display: inline-block;
  vertical-align: middle;
  color: #919191;
}
/* line 47, ../sass/screen.scss */
.head__ribbon__contact p:before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 30px;
  background: url("../../images/mail.png") center no-repeat;
  background-size: cover;
  vertical-align: middle;
  margin-right: 8px;
}
/* line 58, ../sass/screen.scss */
.head__ribbon__contact ul {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
/* line 62, ../sass/screen.scss */
.head__ribbon__contact ul li {
  display: inline-block;
  margin-left: 5px;
}
/* line 66, ../sass/screen.scss */
.head__ribbon__contact ul li a img {
  width: 35px;
}
/* line 75, ../sass/screen.scss */
.head nav {
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  padding: 20px 0;
}
/* line 81, ../sass/screen.scss */
.head nav .content {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 85, ../sass/screen.scss */
.head nav ul {
  display: inline-block;
  vertical-align: middle;
}
/* line 88, ../sass/screen.scss */
.head nav ul li {
  position: relative;
  display: inline-block;
  margin-right: 70px;
  vertical-align: middle;
}
/* line 94, ../sass/screen.scss */
.head nav ul li:hover:before {
  display: block;
  content: "";
  position: absolute;
  width: 4px;
  height: calc(100% + 6px);
  background: #18c6a3;
  top: -2px;
  left: -20px;
}
/* line 104, ../sass/screen.scss */
.head nav ul li:hover a {
  color: #18c6a3;
}
/* line 108, ../sass/screen.scss */
.head nav ul li a {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 14px;
}
/* line 113, ../sass/screen.scss */
.head nav ul li span {
  display: block;
}
/* line 118, ../sass/screen.scss */
.head nav .search {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 200px;
  vertical-align: middle;
}
/* line 124, ../sass/screen.scss */
.head nav .search input[type="text"] {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding-left: 5px;
}
/* line 131, ../sass/screen.scss */
.head nav .search .magnifying-glass {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  border: none;
  height: 32px;
  width: 32px;
  background: url("../../images/search-icon.svg") center no-repeat;
  background-size: cover;
}
/* line 145, ../sass/screen.scss */
.head__background {
  display: table;
  width: 100%;
  height: 600px;
  overflow: hidden;
  background-size: cover;
}
/* line 151, ../sass/screen.scss */
.head__background .content {
  display: table-cell;
  vertical-align: middle;
}
/* line 154, ../sass/screen.scss */
.head__background .content h1 {
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 56px;
  font-weight: bold;
}
/* line 160, ../sass/screen.scss */
.head__background .content h1 span {
  display: block;
  font-size: 62px;
  margin-bottom: 5px;
  font-weight: bold;
}

/* line 177, ../sass/screen.scss */
main.content section.content__push {
  padding: 35px 0 80px;
}
/* line 180, ../sass/screen.scss */
main.content section.content__push .content__push__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 184, ../sass/screen.scss */
main.content section.content__push .content__push__head {
  margin-bottom: 40px;
}
/* line 17, ../sass/_variables.scss */
main.content section.content__push .content__push__head__title {
  display: inline-block;
  background: #18c6a3;
  color: #FFFFFF;
  padding: 20px 25px;
  width: 100px;
  text-align: left;
  vertical-align: middle;
  margin-right: 35px;
}
/* line 26, ../sass/_variables.scss */
main.content section.content__push .content__push__head__title h2 {
  font-size: 22px;
  text-transform: uppercase;
}
/* line 31, ../sass/_variables.scss */
main.content section.content__push .content__push__head:after {
  display: inline-block;
  content: "";
  height: 2px;
  background: #d0d0d0;
  width: calc(99.5% - 100px - 50px - 35px);
  vertical-align: middle;
}
/* line 188, ../sass/screen.scss */
main.content section.content__push .content__push__main__img {
  position: relative;
  display: inline-block;
  width: 47.5%;
}
/* line 192, ../sass/screen.scss */
main.content section.content__push .content__push__main__img img {
  width: 100%;
}
/* line 195, ../sass/screen.scss */
main.content section.content__push .content__push__main__img .date {
  position: absolute;
  top: 50px;
  left: 50px;
  display: block;
  padding: 8px 20px;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  background: #18c6a3;
}
/* line 206, ../sass/screen.scss */
main.content section.content__push .content__push__main__img .title {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
/* line 210, ../sass/screen.scss */
main.content section.content__push .content__push__main__img .title span {
  display: block;
  font-size: 48px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 219, ../sass/screen.scss */
main.content section.content__push .content__push__main__txt {
  display: inline-block;
  vertical-align: top;
  width: 47.5%;
  margin-left: 5%;
}
/* line 224, ../sass/screen.scss */
main.content section.content__push .content__push__main__txt p {
  color: #919191;
  line-height: 1.4;
}
/* line 227, ../sass/screen.scss */
main.content section.content__push .content__push__main__txt p.synopsis {
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 237, ../sass/screen.scss */
main.content section.content__interlude {
  width: 100%;
  height: 220px;
}
/* line 242, ../sass/screen.scss */
main.content section.content__news {
  padding: 80px 0 100px;
}
/* line 245, ../sass/screen.scss */
main.content section.content__news .content__news__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 249, ../sass/screen.scss */
main.content section.content__news .content__news__head {
  margin-bottom: 40px;
}
/* line 17, ../sass/_variables.scss */
main.content section.content__news .content__news__head__title {
  display: inline-block;
  background: #18c6a3;
  color: #FFFFFF;
  padding: 20px 25px;
  width: 200px;
  text-align: left;
  vertical-align: middle;
  margin-right: 35px;
}
/* line 26, ../sass/_variables.scss */
main.content section.content__news .content__news__head__title h2 {
  font-size: 22px;
  text-transform: uppercase;
}
/* line 31, ../sass/_variables.scss */
main.content section.content__news .content__news__head:after {
  display: inline-block;
  content: "";
  height: 2px;
  background: #d0d0d0;
  width: calc(99.5% - 200px - 50px - 35px);
  vertical-align: middle;
}
/* line 252, ../sass/screen.scss */
main.content section.content__news .content__news__main {
  display: inline-block;
  vertical-align: top;
  width: 49.5%;
}
/* line 256, ../sass/screen.scss */
main.content section.content__news .content__news__main:first-of-type {
  margin-right: 1%;
}
/* line 261, ../sass/screen.scss */
main.content section.content__news .content__news__img figure {
  height: 400px;
  overflow: hidden;
}
/* line 264, ../sass/screen.scss */
main.content section.content__news .content__news__img figure img {
  width: 100%;
}
/* line 270, ../sass/screen.scss */
main.content section.content__news .content__news__details .features {
  margin: 10px 0 20px;
}
/* line 272, ../sass/screen.scss */
main.content section.content__news .content__news__details .features span {
  padding: 10px 25px;
  font-size: 14px;
  display: inline-block;
  background: #d0d0d0;
  color: #FFFFFF;
  text-transform: uppercase;
}
/* line 279, ../sass/screen.scss */
main.content section.content__news .content__news__details .features span:first-of-type {
  margin-right: 8px;
}
/* line 284, ../sass/screen.scss */
main.content section.content__news .content__news__details .text {
  color: #919191;
  line-height: 1.4;
  margin-bottom: 25px;
}
/* line 288, ../sass/screen.scss */
main.content section.content__news .content__news__details .text__title {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 15px;
}
/* line 295, ../sass/screen.scss */
main.content section.content__news .content__news__details .button a {
  display: inline-block;
  border: 2px solid #18c6a3;
  padding: 10px 25px;
  color: #18c6a3;
  text-transform: uppercase;
  -moz-transition: color 300ms ease, background 300ms ease;
  -o-transition: color 300ms ease, background 300ms ease;
  -webkit-transition: color 300ms ease, background 300ms ease;
  transition: color 300ms ease, background 300ms ease;
}
/* line 302, ../sass/screen.scss */
main.content section.content__news .content__news__details .button a:hover {
  color: #FFFFFF;
  background: #18c6a3;
}
/* line 312, ../sass/screen.scss */
main.content section.content__lee-jeffries {
  padding: 50px 0 50px;
  background: #f0f0f0;
}
/* line 316, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 320, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__head {
  margin-bottom: 40px;
}
/* line 17, ../sass/_variables.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__head__title {
  display: inline-block;
  background: #18c6a3;
  color: #FFFFFF;
  padding: 20px 25px;
  width: 200px;
  text-align: left;
  vertical-align: middle;
  margin-right: 35px;
}
/* line 26, ../sass/_variables.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__head__title h2 {
  font-size: 22px;
  text-transform: uppercase;
}
/* line 31, ../sass/_variables.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__head:after {
  display: inline-block;
  content: "";
  height: 2px;
  background: #d0d0d0;
  width: calc(99.5% - 200px - 50px - 35px);
  vertical-align: middle;
}
/* line 323, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main {
  width: 95%;
  margin: 0 auto;
}
/* line 327, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .line__1, main.content section.content__lee-jeffries .content__lee-jeffries__main .line__2 {
  text-align: center;
}
/* line 330, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .line__2 {
  margin-top: -55px;
}
/* line 335, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon {
  display: inline-block;
  width: 200px;
  height: 230px;
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
  cursor: pointer;
  margin: 0 10px 5px 0;
}
/* line 344, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
}
/* line 351, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec2, main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3 {
  width: 100%;
  height: 100%;
  visibility: visible;
  transform: rotate(-60deg);
}
/* line 357, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3 {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 362, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow: hidden;
}
/* line 369, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3__txt p {
  color: white;
  -moz-transition: -moz-transform 300ms ease;
  -o-transition: -o-transform 300ms ease;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
}
/* line 372, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3__txt p:first-of-type {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  transform: translateY(-100%);
}
/* line 377, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3__txt p:first-of-type:after {
  position: relative;
  left: 100%;
  display: block;
  margin: 20px 0;
  content: '';
  width: 100%;
  height: 3px;
  background: white;
  -moz-transition: left 300ms ease 200ms;
  -o-transition: left 300ms ease 200ms;
  -webkit-transition: left 300ms ease;
  -webkit-transition-delay: 200ms;
  transition: left 300ms ease 200ms;
}
/* line 389, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3__txt p:last-of-type {
  font-size: 22px;
  transform: translateY(100%);
}
/* line 395, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3__top, main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3__bottom {
  position: relative;
  display: block;
  visibility: visible;
  height: 50%;
  width: 100%;
  background: rgba(24, 198, 163, 0.7);
  bottom: 50%;
  -moz-transition: bottom 350ms ease;
  -o-transition: bottom 350ms ease;
  -webkit-transition: bottom 350ms ease;
  transition: bottom 350ms ease;
}
/* line 405, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3__bottom {
  top: 50%;
  -moz-transition: top 350ms ease;
  -o-transition: top 350ms ease;
  -webkit-transition: top 350ms ease;
  transition: top 350ms ease;
}
/* line 412, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3:hover .hexagon__rec3__top, main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3:hover .hexagon__rec3__bottom {
  bottom: 0;
}
/* line 415, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3:hover .hexagon__rec3__bottom {
  top: 0;
}
/* line 421, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3:hover .hexagon__rec3__txt p:first-of-type {
  transform: translateY(0);
}
/* line 423, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3:hover .hexagon__rec3__txt p:first-of-type:after {
  left: 0;
}
/* line 427, ../sass/screen.scss */
main.content section.content__lee-jeffries .content__lee-jeffries__main .hexagon__rec3:hover .hexagon__rec3__txt p:last-of-type {
  transform: translateY(0);
}
/* line 439, ../sass/screen.scss */
main.content section.content__interactive-features {
  padding: 50px 0 50px;
  background: #e2e2e2;
}
/* line 443, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 447, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main {
  display: inline-block;
  vertical-align: top;
}
/* line 450, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main .title {
  margin-bottom: 20px;
}
/* line 452, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main .title p {
  display: inline-block;
  padding: 12px 20px;
  background: #58b6d0;
  color: #FFFFFF;
  text-transform: uppercase;
}
/* line 460, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main .download {
  display: block;
  cursor: pointer;
}
/* line 463, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main .download__icon {
  display: inline-block;
  width: 40px;
  vertical-align: middle;
}
/* line 467, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main .download__icon img {
  width: 100%;
}
/* line 471, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main .download__text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  text-transform: uppercase;
  color: #919191;
  font-weight: bold;
  width: calc(100% - 55px);
}
/* line 480, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main .download ~ .download {
  margin-top: 20px;
}
/* line 484, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main:first-of-type {
  width: 66.666%;
}
/* line 487, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main:last-of-type {
  width: 33.333%;
}
/* line 491, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main form input {
  box-sizing: border-box;
  padding: 8px 10px;
  display: inline-block;
  text-transform: uppercase;
  border: none;
  margin-bottom: 6px;
  width: calc(50% - 3px);
  font-weight: bold;
}
/* line 500, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main form input:nth-child(3) {
  margin-left: 6px;
}
/* line 503, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main form input.full-width {
  display: block;
  width: 100%;
  margin-left: 0;
}
/* line 507, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main form input.full-width[type="submit"] {
  border: 2px solid #18c6a3;
  color: #18c6a3;
  margin-top: 15px;
  -moz-transition: background 300ms ease, color 300ms ease;
  -o-transition: background 300ms ease, color 300ms ease;
  -webkit-transition: background 300ms ease, color 300ms ease;
  transition: background 300ms ease, color 300ms ease;
}
/* line 512, ../sass/screen.scss */
main.content section.content__interactive-features .content__interactive-features__main form input.full-width[type="submit"]:hover {
  background: #18c6a3;
  color: #FFFFFF;
  cursor: pointer;
}
/* line 525, ../sass/screen.scss */
main.content section.content__social-networks {
  background: #58b6d0;
}
/* line 528, ../sass/screen.scss */
main.content section.content__social-networks .content__social-networks__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 531, ../sass/screen.scss */
main.content section.content__social-networks .content__social-networks__wrapper ul {
  display: table;
  height: 140px;
  margin: 0 auto;
}
/* line 535, ../sass/screen.scss */
main.content section.content__social-networks .content__social-networks__wrapper ul li {
  display: table-cell;
  height: 100%;
  width: 20%;
  vertical-align: middle;
  background: #58b6d0;
  text-align: center;
}
/* line 542, ../sass/screen.scss */
main.content section.content__social-networks .content__social-networks__wrapper ul li a {
  color: #FFFFFF;
}
/* line 545, ../sass/screen.scss */
main.content section.content__social-networks .content__social-networks__wrapper ul li a figure figcaption {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
/* line 550, ../sass/screen.scss */
main.content section.content__social-networks .content__social-networks__wrapper ul li a figure img {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  margin-right: 15px;
}
/* line 558, ../sass/screen.scss */
main.content section.content__social-networks .content__social-networks__wrapper ul li:hover {
  background: #3091ab;
}

/* line 571, ../sass/screen.scss */
.foot {
  padding: 80px 0 150px;
  background: #343635;
}
/* line 574, ../sass/screen.scss */
.foot h3 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 1.2;
}
/* line 580, ../sass/screen.scss */
.foot h3 span {
  display: block;
}
/* line 584, ../sass/screen.scss */
.foot a {
  color: #FFFFFF;
}
/* line 587, ../sass/screen.scss */
.foot p {
  color: #FFFFFF;
}
/* line 590, ../sass/screen.scss */
.foot__wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
/* line 593, ../sass/screen.scss */
.foot__wrapper .content {
  display: table;
  width: 100%;
}
/* line 596, ../sass/screen.scss */
.foot__wrapper .content__item {
  display: table-cell;
  width: 25%;
  text-align: center;
}
/* line 600, ../sass/screen.scss */
.foot__wrapper .content__item a.donate {
  border: 2px solid white;
  padding: 8px 25px;
  font-size: 22px;
  font-weight: bold;
  -moz-transition: background 300ms ease, color 300ms ease;
  -o-transition: background 300ms ease, color 300ms ease;
  -webkit-transition: background 300ms ease, color 300ms ease;
  transition: background 300ms ease, color 300ms ease;
}
/* line 606, ../sass/screen.scss */
.foot__wrapper .content__item a.donate:hover {
  background: white;
  color: #343635;
}
/* line 611, ../sass/screen.scss */
.foot__wrapper .content__item div {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
/* line 615, ../sass/screen.scss */
.foot__wrapper .content__item div img.logo_footer {
  width: 50%;
}
/* line 620, ../sass/screen.scss */
.foot__wrapper .content__item ul li {
  margin-top: 10px;
}
/* line 622, ../sass/screen.scss */
.foot__wrapper .content__item ul li a {
  text-transform: uppercase;
  color: #919191;
  font-size: 12px;
  font-weight: bold;
}
/* line 627, ../sass/screen.scss */
.foot__wrapper .content__item ul li a:hover {
  color: white;
}
/* line 633, ../sass/screen.scss */
.foot__wrapper .content__item .title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
/* line 637, ../sass/screen.scss */
.foot__wrapper .content__item .title:after {
  content: '';
  display: block;
  margin: 15px 0;
  width: 30px;
  height: 2px;
  background: white;
}
